<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.w3geekery.tt-sync-neon</string>
    <key>Program</key>
    <string>/Users/cstacer/Projects/w3geekery/tt/scripts/tt-sync-neon.sh</string>
    <key>ProgramArguments</key>
    <array>
        <string>tt-sync-neon</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/tmp/tt-sync-neon.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/tt-sync-neon.log</string>
</dict>
</plist>
